<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet"
    <vista2></title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/src/views/quizz2/view2.hbs">vista2</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/src/views/quizz3/view3.hbs">vista3</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/src/views/quizz4/view4.hbs">vista4</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
<img src="https://i.pinimg.com/474x/3c/ce/5f/3cce5fc74cbfc6500e34f0bbaadb45bd.jpg">

</body>
</html>